@model List<FIXHUB.Areas.Admin.ViewModel.UsersVM>



<h1>Danh sách người dùng FIXHUB</h1>
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">
                    <a type="button" class="btn btn-primary m-2" asp-area="Admin" asp-controller="Technician" asp-action="Create">
                        <i class="bi bi-plus-circle"></i>
                        Thêm mới
                    </a>
                </h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tên </th>
                                <th scope="col">Tên đầy đủ </th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Email</th>
                                <th scope="col">Số ĐT</th>
                                <th scope="col">Số điểm</th>
                                <th scope="col">Ẩn/Hiện</th>
                                <th scope="col">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var u in Model)
                            {
                                <tr>
                                    <th scope="row">@u.UserId</th>
                                    <td>@u.UserName</td>
                                    <td>@u.FullName</td>
                                    <td>
                                        <img src="~/img/Avt/@u.ProfilePicture" style="width:50px;height:50px" />
                                    </td>

                                    <td>@u.Email</td>
                                    <td>@u.PhoneNumber</td>
                                    <td>@u.points</td>
                                    <td>
                                        @if (u.IsActive)
                                        {
                                            <span class="btn btn-success disabled">Hiện</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-danger disabled">Ẩn</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@u.UserId" class="btn btn-warning m-2"><i class="bi bi-pencil-fill"></i>Sửa </a>
                                        <a asp-area="Admin" asp-controller="Users" asp-action="Remove" asp-route-id="@u.UserId" class="btn btn-danger m-2"><i class="bi bi-eraser-fill"></i>Xoá</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
