@using FIXHUB.Models;
@model IList<GuideCategory>



<h1>Danh sách danh mục hướng dẫn</h1>
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">
                    <a type="button" class="btn btn-primary m-2" asp-area="Admin" asp-controller="Guides" asp-action="Create">
                        <i class="bi bi-plus-circle"></i>
                        Thêm mới
                    </a>
                </h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Môt tả</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Danh mục cha</th>
                                <th scope="col">Mức</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var gui in Model)
                            {

                               

                                <tr>
                                    <th scope="row">@gui.CategoryId</th>
                                    <td>@gui.CategoryName</td>
                                    <td>@gui.Description</td>
                                    <td>
                                        <img src="~/img/Guide_Category/@gui.ImgUrl" style="width:150px;height:150px" />
                                    </td>
                                    <td>@gui.ParentId</td>
                                    <td>@gui.Levels</td>
                                    <td><input type="checkbox" disabled @(gui.IsActive ? "checked" : "") /> </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Guides" asp-action="Edit" asp-route-id="@gui.CategoryId" class="btn btn-warning m-2"><i class="bi bi-pencil-fill"></i>Sửa </a>
                                        <a asp-area="Admin" asp-controller="Guides" asp-action="Remove" asp-route-id="@gui.CategoryId" class="btn btn-danger m-2"><i class="bi bi-eraser-fill"></i>Xoá</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
